@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Poppins:700,500");


.reset {
    align-items: flex-start;
    background-color: var(--white);
    display: flex;
    height: 100%;
    overflow: auto;
    width: 100%;
}

.reset .leftSection {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 34px;
    margin-top: 37px;
    width: 55vw;
    height: 100%;
}

.reset .logo {
    position: absolute;
    top: 1rem;
    left: 2rem;
    width: 10rem;
    height: 3.5rem;
}


.reset .jungle3-1 {
    height: 97px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 96px;
}

.reset .title {
    color: #20316ee8;
    font-family: var(--font-family-now-bold);
    font-size: var(--font-size-xxxl);
    font-weight: 700;
    left: 96px;
    letter-spacing: -0.72px;
    position: absolute;
    text-align: center;
    top: 17px;
    width: 193px;
}

.reset .header-text {
    display: flex;
    flex-direction: column;
    margin-top: 97px;
    min-height: 124px;
    width: 499px;
    margin-right: 5.4rem;
}


.left-section .overlap-group1{
    align-self: flex-end;
    height: 53px;
    margin-right: 4px;
    margin-top: 6px;
    position: relative;
    width: 398px;

}

.reset .reset-password {
    color: #434343;
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xxl);
    font-weight: 700;
    letter-spacing: -0.54px;
    min-height: 54px;
    text-align: center;
    width: 472px;
    margin-left: 1px;
}

.reset .insert-email-please {
    align-self: flex-end;
    color: #b1b1b1;
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-weight: 500;
    letter-spacing: -0.27px;
    margin-right: 4px;
    margin-top: 19px;
    min-height: 51px;
    text-align: center;
    width: 417px;
}


.reset .title {
    color: #20316ee8;
    font-family: var(--font-family-now-bold);
    font-size: var(--font-size-xxxl);
    font-weight: 700;
    left: 96px;
    letter-spacing: -0.72px;
    position: absolute;
    text-align: center;
    top: 17px;
    width: 193px;
}

.reset .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 369px;
    width: 437px;
    height: 85vh;
    margin: 0 0 0 4rem;
}

.reset .input-email {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 88px;
    width: 415px;
    margin: 1rem -2px 0.5rem 0;
} 

.reset .header-text {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 88px;
    width: 415px;
    margin: 1rem -2px 0.5rem 0;
} 

.reset .label {
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-weight: 700;
    letter-spacing: -0.27px;
    min-height: 29px;
    text-align: center;
    width: 140px;
    color: #434343;
    letter-spacing: -0.05px;
    margin-left: 6px;
}

.reset {
    /* color: #f70e0e; */
    color: #434343;
    letter-spacing: -0.05px;
}

/* Placeholder */
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #d8d8d8;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: #d8d8d8;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: #d8d8d8;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: #d8d8d8;
}

.reset .overlap-group1 {
    align-self: flex-end;
    height: 53px;
    margin-right: 4px;
    margin-top: 6px;
    position: relative;
    width: 398px;
}

.reset .inputs {
    background-color: var(--white);
    border: 1px solid #ced4da;
    border-radius: 10px;
    height: 53px;
    left: 7px;
    position: absolute;
    top: 0;
    width: 391px;
    padding-left: 10px;
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-s);
}

.reset .submitButton {
    background-color: #f4996a;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 53px;
    border-radius: 10px;
    min-width: 391px;
    padding: 0px 121px;
    margin: 15px 0 0 16px;
    color: var(--white);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-weight: 700;
}

.reset .submit {
    color: var(--white);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-weight: 700;
    letter-spacing: -0.27px;
    min-height: 23px;
    text-align: center;
    width: 149px;
}

.reset .rightSection {
    background-image: url(../img/waveShape.png);
    width: 45vw;
    height: 100vh;
    background-size: 100% 100%;
}

.reset .cellPng {
    height: 63vh;
    right: 6rem;
    object-fit: cover;
    position: absolute;
    top: 163px;
    width: 40vw;
}